# Ignoere everything
*

# Unignore gitignore
!.gitignore

# Exceptions, the configs I actually want to store

# Whitelist
# Need to add both the root folder and the recursive wildcard
!init.sh
!scripts/
!scripts/**
!zsh/
!zsh/**
!README.md
!alacritty/
!alacritty/**
!claude/
!claude/**
!claude-runner/
!claude-runner/.devcontainer/
!claude-runner/.devcontainer/**
!claude-runner/skills/
!claude-runner/skills/**
# Specifically ignore the ralph files that comes from the submodule (copied during the init.sh script)
claude-runner/skills/prd/
claude-runner/skills/ralph/
!htop/
!htop/**
!nautilus/
!nautilus/**
!opencode/
!opencode/**
!qtile/
!qtile/**
!tmux/
!tmux/**
!deps/
!deps/**

# Assuring these kinds of files/folders do not get commited event if they are inside the whitelisted folders
**/.DS_Store
**/node_modules/
**/target/
**/*.log
**/__pycache__/
**/session/
**/cookies/
